.p-datatable-header{
    padding: 0px !important;
    background: black !important;
}
.titlePostGeneric{
  word-wrap: break-word;
  width: 100%;
  height: 50px;
  overflow: hidden;
  text-overflow: "---";
}
.section{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.subTitlePostGeneric{
  word-wrap: break-word;
  width: 100%;
  height: 30px;
  overflow: hidden;
  text-overflow: "---";
}
.bodyPostGeneric{
  word-wrap: break-word;
  width: 100%;
  height: 120px;
  overflow: hidden;
  text-overflow: "---";
}
.imagePostGeneric{
  object-fit: cover;
  width: 100%;
  height: 280px;
}
.imageParlamentarGeneric{
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.imagePostFeat{
  object-fit: cover;
  width: 100%;
  height: 400px;
}
@font-face {
    font-family: 'PrimeIcons';
    font-display: auto;
    src: url('/static/fonts/primeicons.eot');
    src: url('/static/fonts/primeicons.eot?#iefix') format('embedded-opentype'), url('/static/fonts/primeicons.ttf') format('truetype'), url('/static/fonts/primeicons.woff') format('woff'), url('/static/fonts/primeicons.svg?#primeicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/static/fonts/open-sans-v15-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"), url("/static/fonts/open-sans-v15-latin-300.eot?#iefix") format("embedded-opentype"), url("/static/fonts/open-sans-v15-latin-300.woff2") format("woff2"), url("/static/fonts/open-sans-v15-latin-300.woff") format("woff"), url("/static/fonts/open-sans-v15-latin-300.ttf") format("truetype"), url("/static/fonts/open-sans-v15-latin-300.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/open-sans-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/static/fonts/open-sans-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/open-sans-v15-latin-regular.woff2") format("woff2"), url("/static/fonts/open-sans-v15-latin-regular.woff") format("woff"), url("/static/fonts/open-sans-v15-latin-regular.ttf") format("truetype"), url("/static/fonts/open-sans-v15-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/open-sans-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/static/fonts/open-sans-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("/static/fonts/open-sans-v15-latin-700.woff2") format("woff2"), url("/static/fonts/open-sans-v15-latin-700.woff") format("woff"), url("/static/fonts/open-sans-v15-latin-700.ttf") format("truetype"), url("/static/fonts/open-sans-v15-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}